    <div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <figure class="profile-border">
                        <img class="img-self" src="assets/img/portfolio/self/thumbnail.jpeg" alt="..." />
                        <div class="border one">
                            <div></div>
                          </div>
                          <div class="border two">
                            <div></div>
                          </div>
                    </figure>
                    <h3 class="text-white font-weight-bold">Hello</h3>
                    <h1 class="text-white font-weight-bold">I'm Amanda</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Web Developer and Designer</p>
                    <div class="arrow-wrapper" >
                        <a href="#about">
                            <svg width="18px" height="17px" fill="white" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section style="background-color: #8593AC !important;" class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">About Me</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">I have a BSc Computer Science degree at the University of Leicester, and I have a years worth of experience specialising in Front End Development. My full skillset can be seen outlined in my CV </p>
                    <p class="text-white-75 mb-4">Aside from coding, I love anything to do with cute animals, space, and interesting theores; for example the multiverse theory.</p>
                    <p class="text-white-75 mb-4">I am always on the lookout to learn something new. Be it the latest development trends, advancement made on quantum computing, or a new recipe!</p>
                    <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider" />
            <div class="text-center">
                <div class="service-container">
                    <div>
                        <fa-icon class="fa-2x" [icon]="icons.language"></fa-icon>
                        <h4>
                            <strong>Languages</strong> 
                        </h4>
                        <ul class="service-list">
                            <li>HTML/HTML5</li>
                            <li>JavaScript</li>
                            <li>Sass</li>
                            <li>CSS</li>
                            <li>Python</li>
                        </ul>
                    </div>
                    <div>
                        <fa-icon class="fa-2x" [icon]="icons.tools"></fa-icon>
                        <h4>
                            <strong>Dev Tools</strong>
                        </h4>
                        <ul class="service-list">
                            <li>Bootstrap</li>
                            <li>Github</li>
                            <li>Gitlab</li>
                            <li>Terminal </li>
                            <li>Docker</li>
                        </ul>
                    </div>
                    <div>
                        <fa-icon class="fa-2x" [icon]="icons.frame"></fa-icon>
                        <h4>
                            <strong>Frameworks</strong>
                        </h4>
                        <ul class="service-list">
                            <li>Angular.JS</li>
                            <li>React.JS</li>
                            <li>React Hooks</li>
                            <li>Redux</li>
                            <li>Django</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio" style="margin-bottom: 40px;">
        <div class="container-fluid p-0">
            <div class="portfolio-container">
                <div class="portfolio-modal" (click)="openAeroTrackerModal()">
                    <a class="portfolio-box" title="AeroTracker">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/aeroTracker.png" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Website</div>
                            <div class="project-name">AeroTracker</div>
                        </div>
                    </a>
                </div>
                &nbsp;&nbsp;
                <div class="portfolio-modal" (click)="openUspaceModal()">
                    <a class="portfolio-box" title="USpace">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/uspace.png" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">User Interface</div>
                            <div class="project-name">USpace</div>
                        </div>
                    </a>
                </div>
                &nbsp;&nbsp;
                <div class="portfolio-modal" (click)="openPortfolioModal()">
                    <a class="portfolio-box" title="portfolio">
                        <img class="img-fluid" src="assets/img/portfolio/modal/portfo.png" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Portfolio</div>
                            <div class="project-name">Thoughts behind it</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="contact-container">
            <div>
                <h2>Let's Get In Touch!</h2>
                <hr class="divider" />
            </div>
            <div class="contact-icon" align="center">
                <div class="icons">
                    <a href="https://www.linkedin.com/in/amanda-rieksti%C5%86a-bb9996195/">
                        <fa-icon class="fa-2x" [icon]="icons.linkedin"></fa-icon>
                    </a>
                    <span>Amanda Riekstina</span>
                </div>
                <div class="icons">
                    <fa-icon class="fa-2x" [icon]="icons.email"></fa-icon>
                    <span>amanda.riekstina@yahoo.co.uk</span>
                </div>
                <div class="icons">
                    <i class="bi-phone fs-2"></i>
                    <span>+44 07476725695</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Amanda Riekstina</div></div>
    </footer>
</div>  