.dark-modal .modal-content {
  background-color: #8593ac;
  color: white;
}
.modal-header-at {
  background-image: url("../assets/img/portfolio/modal/at_header_2.png");
}
.modal-header-us {
  background-image: url("../assets/img/portfolio/modal/us-header.png");
  color: black;
}

.modal-body {
  text-align: center;
}

.modal-text {
  width: 70%;
  margin: auto;
}

.modal-panel {
  height: 80%;
  width: 100%;
  padding-block: 70px;
}

.modal-phones {
  max-height: 500px;
}

.modal-icon {
  max-height: 100px;
  padding: 10px;
}

.modal-comps {
  max-height: 400px;
}

.nav-item {
  margin-right: 20px !important;
  font-size: 0.9em;
}

.nav-link {
  color: white !important;
}

.nav-link.active {
  color: #8593ac !important;
}

.tab-container {
  padding: 10px;
  margin-block: 20px;
}
