<div class="modal-container"> 
    <div class="modal-header modal-header-us"> 
        <h4>U-Space</h4>
        <button type="button" class="btn btn-light btn-sm" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="nav-tabs">
            <ul class="nav">
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 0}" (click)="setTab(0)" placement="bottom">Overview</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 1}" (click)="setTab(1)" placement="bottom">Target Audience</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 2}" (click)="setTab(2)" placement="bottom"> Aims & Objectives</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 3}" (click)="setTab(3)" placement="bottom">My Role</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 4}" (click)="setTab(4)" placement="bottom">Technologies</button>
                </li>
            </ul>
        </div>

        <ng-container *ngIf="tab == 0">
            <div class="tab-container">
                <h3>Overview</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    U-Space is a user interface to detect drones based off of hardware such as radars, Radio Frequencies, and PTZ cameras.
                    <br>
                    This project was created under the CPNI specifications. It was less focused on design and more focused on functionality, as it incorperated a lot of hardware.
                    <br>
                    CPNI stands for Centre for the Protection of National Infrastructure. They are the UK government’s National Technical Authority for physical and personnel protective security.
                </p>
                <img style="max-height: 300px" src="assets/img/portfolio/modal/Portfolio_2.png" />
                <img style="max-height: 300px" src="assets/img/portfolio/modal/Portfolio_4.png" />
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 1">
            <div class="tab-container">
                <h3>Target Audience</h3> 
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    Aside from the specifications and CPNI there was no other target audience.
                    <br>
                    CPNI had very specific and detailed specifications, we followed a PDF file to ensure we had met all of the criteria.
                </p>
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 2">
            <div class="tab-container">
                <h3>Aims & Objectives</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    CPNI had very specific and detailed specifications, we followed a PDF file to ensure we had met all of the criteria.
                    <br>
                    Need to meet CPNI standard and meet the test criteria
                    <br>
                    Operator usability - had to be intiutive so that the operator wouldn't have any issues using the system
                    <br>
                    Have ability to export data, have a good human machine interface
                    <br>
                    Reason for wanting to pass CPNI
                    How UAS activity was presented to the oprator - had to be clear
                </p>
                <div class="modal-panel">
                    <img class="modal-comps" src="assets/img/portfolio/modal/Portfolio_3.png" />
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="tab == 3"> 
            <div class="tab-container">
                <h3>My Role</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">

                    My role for this project was to be the Front End developer working in a small team alongside a senior developer
                    and a backend developer.
                    I would have to report back to the senior developer each time I completed a Jira ticket
                    There were no assigned designers so the design of the webapp was decided by the CEO or as a joint effort amongst the dev team.
                </p>  
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 4">
            <div class="tab-container">
                <h3>Technologies</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    Third party libraries 
                    Other technologies
                    <br>
                    What I learned whilst doing this project 
                </p> 
                <div class="modal-panel">
                    <img class="modal-icon" src="assets/icons/reactjs.png" />
                    <img class="modal-icon" src="assets/icons/docker.png" />
                    <img class="modal-icon" src="assets/icons/python.png" />
                </div>
            </div>
        </ng-container>

    </div>
</div>