<div class="modal-container">
    <div class="modal-header"> 
        <h4>AeroTracker</h4>
        <button type="button" class="btn btn-light btn-sm" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" align="center">
        <img class="modal-header-image" src="assets/img/portfolio/at_header_2.png"/>

        <h3>Overview</h3>
        <p class="modal-text">This is a live flight tracker webapp, tracks aircrafts such as airplanes, helicopters, and drones
            It allows a user to create zones - receive notifications if the zone detects anything - filter
            aircraft by altitude or speed, and other things relating to aircraft.
            This interface integrates hardware such as radars and ADS-B, which is what allows it to display
            aircraft that this hardware is detecting.
            <br>
            The target audience for this project is anywhere from individual people wanting to protect their garden
            to enterprise busineses wanting to monitor and have protection from illegal drones.
            Government bodies have also shown high interest in this product.
            <br>
            This product aims to provide individuals and bisnesses with full and comprehensive view of everything that flies,
            inorder to enable a safe sharing of our skies in the future.
            "With full situational awareness, the skies are unlocked"
            <br>
            "AeroTracker is the only flight tracking app in the world to fully integrate planes and drones on one interface, and give full situational awareness in real-time to all who need it."
            <br>
            My role for this project was to be the Front End developer working in a small team alongside a senior developer
            and a backend developer.
        </p>
    </div>
</div>