<div class="modal-container">
    <div class="modal-header modal-header-at"> 
        <h4><strong>AeroTracker</strong></h4>
        <button type="button" class="btn btn-light btn-sm" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" align="center">
        <div class="nav-tabs">
            <ul class="nav">
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 0}" (click)="setTab(0)" placement="bottom">Overview</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 1}" (click)="setTab(1)" placement="bottom">Target Audience</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 2}" (click)="setTab(2)" placement="bottom"> Aims & Objectives</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 3}" (click)="setTab(3)" placement="bottom">My Role</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{'active': tab == 4}" (click)="setTab(4)" placement="bottom">Technologies</button>
                </li>
            </ul>
        </div>

        <ng-container *ngIf="tab == 0">
            <div class="tab-container">
                <h3>Overview</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    AeroTracker is a live flight tracker webapp which tracks aircrafts such as airplanes, helicopters, and drones.
                    Increases airspace safety by improving awareness
                    <br>
                    It allows a user to create zones (customised geographical warning zones) - receive notifications if the zone detects anything - filter
                    aircraft by altitude or speed, and other things relating to aircraft detection.
                    When an aircraft is being detected inside a designated area, real-time alerts and notifications are displayed on the interface and can be sent to a device
                    of the user's choice - including mobile phones and smart watches
                    <br>
                    This interface integrates hardware such as radars and ADS-B, which is what allows it to display
                    aircraft that this hardware is detecting.
                    <br>
                    shows real time info, flight logs
                </p>
                <img class="modal-comps" src="assets/img/portfolio/modal/amanda-001.png" />
                <img class="modal-comps" src="assets/img/portfolio/modal/amanda-002.png" />
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 1">
            <div class="tab-container">
                <h3>Target Audience</h3> 
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    The target audience for this project is anywhere from individual people wanting to protect their garden
                    to enterprise busineses wanting to monitor and have protection from illegal drones.
                    Government bodies have also shown high interest in this product.
                    For authorities and air traffic managers to identify and track drones alongside other forms of aviation in their are of responsibility
                    Invaluable to a wide range of industries, including aviation, defence & security, insurance and more.
                </p>
                <img class="modal-comps" src="assets/img/portfolio/modal/amanda-003.png" />
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 2">
            <div class="tab-container">
                <h3>Aims & Objectives</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    This product aims to provide individuals and bisnesses with full and comprehensive view of everything that flies,
                    inorder to enable a safe sharing of our skies in the future.
                    "With full situational awareness, the skies are unlocked"                 
                    "AeroTracker is the only flight tracking app in the world to fully integrate planes and drones on one interface, and give full situational awareness in real-time to all who need it." 
                </p>
                <div class="modal-panel">
                    <img class="modal-phones" src="assets/img/portfolio/modal/amanda-004.png" />
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="tab == 3"> 
            <div class="tab-container">
                <h3>My Role</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
   
                    My role for this project was to be the Front End developer working in a small team alongside a senior developer
                    and a backend developer.
                    I would have to report back to the senior developer each time I completed a Jira ticket
                    There were no assigned designers so the design of the webapp was decided by the CEO or as a joint effort amongst the dev team.
                </p>  
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 4">
            <div class="tab-container">
                <h3>Technologies</h3>
                <hr class="divider divider-light" />
                <p class="modal-text" align="center">
                    Third party libraries - added cookie consent: ngx-cookieconsent, leaflet was used for the map features
                    - hammerjs for swiping mobile panels up and down
                    <br>
                    What I learned whilst doing this project 
                </p> 
                <div class="modal-panel">
                    <a href="https://angular.io/"><img class="modal-icon" src="assets/icons/angular.png" /> </a>
                    &nbsp;
                    <a href="https://nodejs.org/en/"><img class="modal-icon" src="assets/icons/nodejs.png" /> </a>
                    &nbsp;
                    <a href="https://wordpress.com/"><img class="modal-icon" src="assets/icons/wordpress.png" /> </a>
                </div>
            </div>
        </ng-container>
       
    </div>
</div>